.prod-table {
    margin: 20px;
    display: grid;
    grid-area: prod-table;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
}

.product {
    background-color: white;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    display: grid;
    grid-template-areas:
                'prod-pic'
                'prod-text';
    grid-template-rows: 70% 30%;
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.11);
    padding: 20px;
}

.prod-pic img {
    width: 100%;
    height: 100%;
    margin: 10px;
    border-radius: 16px;
}

.prod-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2px;
    margin: 10px 15px 0px 5px;
    grid-template-areas:
                'prod-title prod-title prod-title'
                'prod-description prod-description prod-price'
                'prod-link prod-add prod-like';
}

.prod-content img {
    max-width: 100%;
}

.prod-title {
    grid-area: prod-title;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: left;
}

.prod-description {
    grid-area: prod-description;
    text-align: left;
    font-weight: 400;
    font-size: 18px;
}

.prod-price {
    grid-area: prod-price;
    color: black;
    text-align: right;
    font-weight: 400;
    font-size: 18px;
}